@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-image: linear-gradient(to right, gray, darkgray);
    color: white;
    font-family: 'Barlow', sans-serif;
}

.container
{
    margin: auto;
    width: 90%;
}

.nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.nav h2
{
    font-size: 2rem;
}

.user-input
{
    text-align: center;
    width: 350px;
}

.user-input input
{
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    width: 85%;
}

.user-input input:focus
{
    border: 2px solid red;
    box-shadow: 0 0 10px red;
}

.user-input button
{
    background-color: lightgray;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    outline: none;
    padding: 8px;
    transition: 1s;
    width: fit-content;
}

.user-input button:hover
{
    background-color: transparent;
    color: white;
}

.to-do-items
{
    margin: auto;
    width: 500px;
}

.items 
{
    background-color: white;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    border-radius: 5px;
    color: blue;
    display: flex;
    font-size: 1rem;
    height: auto;
    justify-content: space-between;
    margin-top: 10px;
    padding: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.item:hover
{
    box-shadow: 0 0 25px red;
    border: 2px solid red;
}

.item i
{
    cursor: pointer;
    margin: 0 5px;
}

@media(max-width: 768px)
{
    .nav
    {
        align-items: center;
        flex-direction: column;
    }

    .nav h2 
    {
        margin: 10px 0;
    }

    .user-input
    {
        width: 100%;
    }

    .to-do-items
    {
        width: 100%;
    }
}

@media(max-width: 480px)
{
    .user-input input 
    {
        width: 74%;
    }
}

@media(max-width: 320px)
{
    .user-input input
    {
        width: 60%;
    }
}